.hero-section {
    position: relative;
    left:-7px;
    height: 500px;
    width: 102%;
    background-image: url(../images/hero6.png);
    background-repeat: no-repeat;
    background-size: cover;
}
